// メインカラー
$color-black: #374151;
$color-blue: #0A77CA;
$color-white: #fff;
$color-text-blue-light: #EBEFF4;
$color-deep-blue: #0A3B78;
$sky-blue: #6EC8FF;
$color-white-soft: #2870c2;
$color-white-25: #FFFFFF40;
$color-red: #B60120;
// footerの背景
$color-navy: #071F3D;


// 下層を含む背景
$color-gray-light: #F7F9FB;
